extends layout

block scripts
    script(type='text/javascript').
        //- document.addEventListener("submit", ($event)=>onsubmit(event));
        onsubmit = (event) => {
            event.preventDefault();
            var method = document.querySelector('input[name="operation"]:checked')?.value;
            //- console.log(method);
            if(!method) return;
            var url = event.target.getAttribute( "action" );
            var formData = Object.fromEntries(new FormData(event.target));

            let config = {
                method: method,
                mode: "cors",
                cache: "default",
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'aplication/json',
                },
                redirect:"follow"
            };
            let query='/';
            if(["GET", "DELETE"].includes(method)){
                config["query"]=formData;
                query=`/?n1=${formData.n1}&n2=${formData.n2}&operation=${formData.operation}`
            }else{
                config["body"]=JSON.stringify(formData);
            }
            console.log(config);
            const result=new Promise(async (resolve, reject)=>{
                resolve(await fetch('/redirect'+query, config));
            });
            result.then((response)=>{
                return response.text();
            })
            .then((content)=>{
                console.log(content);
                var codeNode = document.querySelector('#code');
                var renderNode = document.querySelector('#render');
                codeNode.innerText=content;
                renderNode.innerHTML=content;
            });
        };

block content 
    form(id="form",) 
        label(for="sum") n1
        input(type="number", placeholder='0' name="n1")
        label(for="sum") n2
        input(type="number", placeholder='0' name="n2")
        input(type="radio", name="operation", id="sum", value="GET",)
        label(for="sum") sum
        input(type="radio", name="operation", id="multiply", value="POST",)
        label(for="multiply") multiply
        input(type="radio", name="operation", id="divide", value="PUT",)
        label(for="divide") divide
        input(type="radio", name="operation", id="power", value="PATCH",)
        label(for="power") power
        input(type="radio", name="operation", id="substract", value="DELETE",)
        label(for="substract") substract
        button(type="submit") Calculate

    div
        h3 Endpoint code:
        p(id="code")
        h3 Endpoint render:
        p(id="render")
